<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<script type="text/javascript" src="assets/js/lib/jquery-3.1.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="todos.css">
	<script src="https://use.fontawesome.com/d89a328f8d.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

	<div id="container">
		<h1>To-do List <i class="fa fa-plus"></i></h1>
		<input type="text" placeholder="Add New Todo">
		<ul>
			<li><span><i class="fa fa-trash"></i></span> Go To Hogwarts</li>
			<li><span><i class="fa fa-trash"></i></span> Buy New Things</li>
			<li><span><i class="fa fa-trash"></i></span> Visit Hagrid</li>
		</ul>
	</div>
    <footer>
        <p>Made with <i class= "fa fa-coffee"></i> and <i class="fa fa-music"></i> by <em><a href="https://www.linkedin.com/in/praful-nikam-2b8080141/" target="_blank">Praful Nikam</a></em></p>
    </footer>
	<script type="text/javascript" src="todos.js"></script>
</body>
</html>